/*************************General*************************/
*{
margin: 0;
padding: 0;
text-decoration: none;
color: white;
font-family:'Open Sans',sans-serif;
}


/*************************HTML*************************/
html{
background: linear-gradient(to right, rgb(0,135,255), 70%, white);
height: 100%;
width: 100%;
}

/*************************FrenchVersion/OriginalVersion*************************/
body .border{
z-index: 4;
position: fixed;
height: 100vh;
right: 0;
}

/*************************Navbar*************************/
.navbar ul{
position: fixed;
height: 52px;
width: 100%;
z-index: 3;
top: 0;
left: 0;
background: linear-gradient(to right, rgb(0,135,255), 70%, white);
}


.navbar li{
display: inline-block;
height: 52px;
}

.navbar li:last-child{
margin-left: 25px;
}

.navbar a{
position: relative;
top: -19px;
left: 57px;
font-size: larger;
font-weight: 300;
}

.navbar img{
height: 42px;
width: 42px;
margin: 5px 0 5px 20px;
border-radius: 50px;
}

/*************************Illustration*************************/

.illustration img{
position: absolute;
width: 50%;
bottom: 300px;
left: 10%;
}

/*************************Login*************************/
.login{
position: absolute;
width: 30%;
top: 50%;
right: 0;
transform: translateY(-50%);
z-index: 5;
}

.login img{
display: block;
width: 25%;
margin: 25px auto 25px auto;
}

.login h3{
text-align: center;
color: rgb(0,135,255);
}

.login input{
display: block;
height: 35px;
width: 60%;
margin: 25px auto;
border-radius: 50px;
border: 1px solid grey;
color: black;
outline: none;
}

.login input[type=text]{
border-radius: 50px;
padding:0 15px;
}

.login input::placeholder{
color: rgb(135, 190, 235);
}

.login button{
display: block;
height: 35px;
width: 40%;
margin: 25px auto;
border-radius: 50px;
background-color: rgb(0,135,255);
border: none;
letter-spacing: 1px;
font-weight: bolder;
}

.login a{
display: block;
text-align: center;
font-size: 12px;
color: black;
letter-spacing: 1px;
}

.login span{
display: block;
margin: 50px auto 25px auto;
text-align: center;
font-weight: 300;
font-size: 14px;
color: black;
}

.login span a{
display: inline-block;
color: red;
font-size: 16px;
letter-spacing: 0;
font-weight: bolder;
}

/*************************Footer*************************/
.footer{
width: 70%;
position: absolute;
display: inline-flex;
bottom: 0;
left: 0;
border-top: 1px solid white;
}

.footer iframe{
height: 250px;
width: 595px;
margin: 12px 50px;
background: black;
}

.footer article{
margin: 0;
}

.footer article h1{
text-align: center;
padding: 15px 0 0 0;
}

.footer article p{
width: 80%;
text-align: justify;
margin: 42px auto 0 auto;
}

.footer article:after{
content:'Chefprog 2020';
position: absolute;
font-size: 12px;
right: 50px;
}

.footer .link{
width: 40%;
position: absolute;
bottom: 25px;
right: 5%;
text-align: center;
font-size: 13px;
}

/*************************Responsive*************************/
@media only screen and (max-width: 1050px), only screen and (max-height: 650px){

    body .border{
    display: none;
    }
    .navbar ul{
    z-index: 6;
    }
    
    
    .illustration img{
    position: relative;
    width: 80%;
    margin: 77px auto 25px auto;
    bottom: 0px;
    }

    .login{
    position: relative;
    width: 100%;
    top: 50%;
    right: 0;
    transform: translateY(0);
    }

    .login span{
    margin: 50px auto 75px auto;
    }

    .footer{
    position: relative;
    display: block;
    width: 100%;
    }
    
    .footer iframe{
    width: 80%;
    display: block;
    margin: 24px auto;
    }

    .footer article{
    width: 80%;
    margin: 0 auto;
    padding: 0 0 75px 0;
    }

    .footer article p{
    width: 100%;
    margin: 22px 0 0 0;
    }

    .footer article:after{
    right: 10%;
    }

    .footer .link{
    position: relative;
    width: 100%;
    margin: 25px auto;
    right: 0;
    bottom: 0;
    }
}


@media only screen and (max-width: 350px){
    .navbar li:last-child{
    margin-left: 10px;
    }

    .navbar a{
    left: 17px;
    }
}